.logo {
  position: fixed;
  top: 11px;
  left: 11px;
  background-color: rgba(255, 255, 255, 0.05); /* translucent like navbar */
  border-radius: 9999px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.2); /* glass border */
  backdrop-filter: blur(10px); /* glass blur effect */
  transition: 0.3s all;
  cursor: pointer;
}

.logo img {
  height: 30px;
  width: auto;
  display: block;
}

.logo:hover {
  border-color: #2ecc71;        /* glowing border color on hover */
  box-shadow: 0 0 10px #2ecc71;
}

.logo:active {
  border-color: #2ecc71;
  box-shadow: 0 0 10px #2ecc71;
}
